<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field >
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-label>Name:</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-label>Label:</mat-label>
    <input matInput formControlName="label">
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="form.value.type != 'select'">
    <mat-label>Placeholder:</mat-label>
    <input matInput formControlName="placeholder">
  </mat-form-field>
  <br>

  <div formArrayName="options" *ngIf="form.value.type == 'select'">
    <mat-label>Options</mat-label>
    <br>
    <button mat-raised-button (click)="addOption($event)">Add option</button>
    <br><br>
    <mat-form-field *ngFor="let option of options.controls; let i=index" class="form-field">
      <mat-label>Option:</mat-label>
      <input matInput [formControlName]="i"/>
    </mat-form-field>
  </div>
<br>
  <button mat-raised-button type="submit" [disabled]="!form.valid">Add field</button>
</form>
<br><br>
<button mat-raised-button (click)="saveDocument()" >Save document</button>
<br><br>

{{ document | json}}

