<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit() "
      class="col-md-12 noPaddingNoMargin">
  <table class="table table-sm form-table">
    <thead class="from-table-thead">
    <tr>
      <th scope="col">CODE</th>
      <th scope="col">VALUE</th>
    </tr>
    </thead>
    <tbody>

    <ng-container *ngFor="let item of dynamicForm.controls.values['controls']">
      <tr *ngIf="item.value.InputType !== 'checkbox' && item.value.InputType !== 'textarea'">
        <td>{{item.value.Name}}</td>
        <td [formGroup]="item" >
          <input class="form-control form-control-sm"
                 name="Value"
                 type="{{item.value.InputType}}"
                 value="{{item.value.Value}}"
                 [required]="item.value.Required"
                 formControlName="Value">
        </td>
      </tr>
      <tr *ngIf="item.value.InputType === 'checkbox'">
      <td>{{item.value.Name}}</td>
      <td [formGroup]="item" >
        <input class="form-control form-control-sm"
               name="Value"
               type="checkbox"
               [checked]="item.value.Value === 'true'"
               [required]="item.value.Required"
               value="{{item.value.Value}}"
               formControlName="Value"
              >
      </td>
    </tr>
      <tr *ngIf="item.value.InputType === 'textarea'">
        <td>{{item.value.Name}}</td>
        <td [formGroup]="item" >
          <textarea class="form-control form-control-sm"
                    [required]="item.value.Required"
                 name="Value"
                 value="{{item.value.Value}}"
                    formControlName="Value"></textarea>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div class="modal-footer">
    <div class="col-sm-6 text-right" style="padding-right:0em;">
      <button id="submit" type="submit" class="">SAVE</button>
    </div>
  </div>
</form>
